@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
body {
  background-image: url("Asset 1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "montserrat", sans-serif;
}

#text {
  color: black;
  height: 25px;
  border-radius: 5px;
  padding: 10px 4px;
  border: solid thin #aaa;
  width: 90%;
  vertical-align: middle;
}

#button {
  padding: 10px;
  width: 50%;
  color: #e6e1dc;
  background-color: #00573f;
  border: none;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: large;
}

#button:hover {
  background-color: #4caf50;
  color: white;
}

#box {
  background-color: #e6e1dc;
  margin: auto;
  margin-top: 18vh;
  width: 500px;
  padding: 20px;
}

p {
  color: #333;
  height: 25px;
  border-radius: 5px;
  padding: 4px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #00573f;
}

h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #333;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.label {
  color: #333;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

/* Media Query */
@media only screen and (max-width: 700px) {
  #box {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }
}
